# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
PlayTogether/PlayTogether.vcxproj.user
PlayTogether/PlayTogether.vcxproj.filters
PlayTogether/PlayTogether.vcxproj
PlayTogether/Debug/vc142.pdb
PlayTogether/Debug/vc142.idb
PlayTogether/Debug/PlayTogether.tlog/link.write.1.tlog
PlayTogether/Debug/PlayTogether.tlog/link.read.1.tlog
PlayTogether/Debug/PlayTogether.tlog/link.command.1.tlog
PlayTogether/Debug/PlayTogether.tlog/PlayTogether.lastbuildstate
PlayTogether/Debug/PlayTogether.tlog/CL.write.1.tlog
PlayTogether/Debug/PlayTogether.tlog/CL.read.1.tlog
PlayTogether/Debug/PlayTogether.tlog/CL.command.1.tlog
PlayTogether/Debug/PlayTogether.log
Debug/PlayTogether.pdb
Debug/PlayTogether.ilk
.vs/PlayTogether/v16/ipch/AutoPCH/4bc193591aa41442/PLAYTOGETHER.ipch
.vs/PlayTogether/v16/Browse.VC.opendb
.vs/PlayTogether/v16/Browse.VC.db-wal
.vs/PlayTogether/v16/Browse.VC.db-shm
.vs/PlayTogether/v16/Browse.VC.db
.vs/PlayTogether/v16/.suo
